/* ListClientes.css */

.list-clientes-container {
    padding: 20px;
    color: #fff;
  }
  
  .list-clientes-title {
    font-size: 36px;
    margin-bottom: 20px;
    color:#333;
  }
  
  .table {
    color: #333;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 2px solid #ddd;
  }
  